<footer class="footer text-center">

    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localisation</h4>
                <p class="lead mb-0">23 allée des champs fleuris, 45650 Saint-Jean-le-blanc</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Réseaux sociaux</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#" onclick="window.open('https://www.facebook.com/hichem.koched')">
                    <i class="fab fa-fw fa-facebook-f"></i>

                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#"  onclick="window.open('https://github.com/Koched92')">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#" onclick="window.open('https://www.linkedin.com/in/hichem-koched-b2b153151/')">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#" onclick="window.open('https://www.researchgate.net/profile/Hichem_Koched2')">
                    <i class="fab fa-fw fa-researchgate"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Technologies du site</h4>
                <p class="lead mb-0">Portfolio crée avec Symfony4 et Twig2 sur un template téléchargé de
                    <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
            </div>

        </div>
    </div>

</footer>


<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Your Website 2020</small>
    </div>
</section>