{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="animate__animated animate__fadeIn">An animated element</h1>

    <h1 class="element"></h1>
{% endblock %}
